<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Orcid.API.Client.Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Orcid.API.Client.Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Orcid.API.Client.Testing.Properties.Settings>
            <setting name="OrcidClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="OrcidClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAuthorizatoinToken" serializeAs="String">
                <value />
            </setting>
            <setting name="UserOrcidId" serializeAs="String">
                <value />
            </setting>
        </Orcid.API.Client.Testing.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Orcid.API.Client.Testing.Properties.Settings>
            <setting name="OrcidOAuthUrl" serializeAs="String">
                <value>https://sandbox.orcid.org/oauth/token</value>
            </setting>
            <setting name="OrcidAPIBaseUrl" serializeAs="String">
                <value>https://api.sandbox.orcid.org/v2.0</value>
            </setting>
        </Orcid.API.Client.Testing.Properties.Settings>
    </applicationSettings>
</configuration>